# General application configuration

# Logger configuration
LOG_LEVEL=info
LOG_OUTPUTPATHS=stdout

# API server configuration
SRV_ADDR=:8080
SRV_WRITE_TIMEOUT=15s
SRV_APPNAME=SubscriptionService

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_DBNAME=subscription
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL_MODE=disable
DB_MIGRATIONS_PATH=file://migrations
